.page {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
}

.form {
    text-align: left;
    margin: 2rem;
}

.form-group {
    display: flex;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    width: 100%;
}